In [1]:
import yfinance as yf

In [3]:
#define tickersymbol
tickerSymbol = 'MSFT'

In [10]:
#define tickersymbol
tickerSymbol1 = 'AAPL'

In [4]:
#get dataon this ticker
tickerData=yf.Ticker(tickerSymbol)

In [11]:
#get dataon this ticker
tickerData1=yf.Ticker(tickerSymbol1)

In [5]:
#get historical price for this ticker
tickerDf = tickerData.history(period='1d', start='2010-1-1', end='2020-3-20')

In [12]:
#get historical price for this ticker
tickerDf1 = tickerData1.history(period='1d', start='2010-1-1', end='2020-3-20')

In [8]:
tickerDf.head(10)

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2009-12-31  24.25  24.26  23.86  23.86  31929700        0.0             0
2010-01-04  23.97  24.34  23.95  24.23  38409100        0.0             0
2010-01-05  24.15  24.34  23.98  24.23  49749600        0.0             0
2010-01-06  24.17  24.33  23.89  24.09  58182400        0.0             0
2010-01-07  23.98  24.03  23.63  23.84  50559700        0.0             0
2010-01-08  23.70  24.17  23.67  24.00  51197400        0.0             0
2010-01-11  24.04  24.08  23.58  23.69  68754700        0.0             0
2010-01-12  23.60  23.80  23.41  23.54  65912100        0.0             0
2010-01-13  23.69  23.89  23.49  23.76  51863500        0.0             0
2010-01-14  23.73  24.34  23.69  24.23  63228100        0.0             0

In [13]:
tickerDf1.head(10)

             Open   High    Low  Close     Volume  Dividends  Stock Splits
Date
2009-12-31  26.36  26.39  26.04  26.06   88102700        0.0           0.0
2010-01-04  26.40  26.53  26.27  26.47  123432400        0.0           0.0
2010-01-05  26.54  26.66  26.37  26.51  150476200        0.0           0.0
2010-01-06  26.51  26.62  26.06  26.09  138040000        0.0           0.0
2010-01-07  26.19  26.22  25.85  26.04  119282800        0.0           0.0
2010-01-08  26.01  26.22  25.85  26.22  111902700        0.0           0.0
2010-01-11  26.32  26.34  25.78  25.98  115557400        0.0           0.0
2010-01-12  25.87  25.94  25.53  25.69  148614900        0.0           0.0
2010-01-13  25.71  26.09  25.24  26.05  151473000        0.0           0.0
2010-01-14  25.98  26.03  25.85  25.90  108223500        0.0           0.0